<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Match Finder</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <fieldset>
        <h1 align="center"> HLTV Stats (By: Tony Chen) </h1>
        <div class="container">
            <form action="/matches" method="get">
                <input type="submit" class="ghost-button" value="Get Matches">
            </form>
            <br>
            <br>
            <form action="/results" method="get">
                <input type="submit" class="ghost-button" value="Get results">
            </form>
        </div>
    </fieldset>
    <% if(matches !== null){ %>
        <% if(matches[0].live){ %>
            <h3> LIVE MATCHES </h3>
            <ul>
                <% for(var i=0; i < matches.length; i++) { %>
                    <% if(matches[i].live){ %>
                    <li>
                        <p><%= matches[i].team1.name %> vs <%= matches[i].team2.name %> (<%= matches[i].format %>)</p>
                        <p><%= matches[i].event.name %></p>
                        <p> <a href="/scorebot?id=<%= matches[i].id %>"> Connect to Scorebot </a></p>
                    </li>
                    <% } %>
                <% } %>
            </ul>
        <% } %>
        <h3> UPCOMING MATCHES </h3>
        <ul>
            <% for(var i=0; i < matches.length; i++) { %>
                <% if(matches[i].team1 && matches[i].team2 && matches[i].event && !matches[i].live){ %>
                    <li>
                    <p><%= matches[i].team1.name %> vs <%= matches[i].team2.name %> (<%= matches[i].format %>)</p>
                    <p><%= matches[i].event.name %> </p>
                    <p> <a href="/matchanalysis?id=<%= matches[i].id %>"> Analysis </a></p>
                    </li>   
                <% } else {%>
                <% } %>
            <% } %>
        </ul>
    <% } %>
    <% if(error !== null){ %>
        <p><%= error %></p>
    <% } %>
  </body>
</html>