<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HLTV Stats</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <fieldset>
        <h1 align="center"> CS:GO Match Stats & Analysis </h1>
        <h5 align="center"> Designed to be a lightweight, ad-free CS:GO match analysis engine powered by HLTV </h5>
        <div class="container">
            <form action="/matches" method="post">
                <div class="fields" align="center">
                    <label for="teamname"> Filter by team: </label>
                    <input type="teamname" name="teamname">
                    <label for="eventname"> Filter by event: </label>
                    <input type="eventname" name="eventname">
                </div>
                <input type="submit" class="ghost-button" value="Find Matches">
            </form>
            <br>
            <form action="/results" method="post">
                <div class="fields" align="center">
                    <label for="days"> How many days? </label>
                    <select id="days" name="days" align="center">
                        <% var options = []; %>
                        <option value="1" selected="selected">1 day (Default)</option>
                        <% for(var i = 2; i <= 10; i++) { %>
                            <option value='<%= i %>'><%= i %> days </option>
                        <% } %>
                    </select>
                </div>
                <div class="fields" align="center">
                    <label for="teamname"> Filter by team: </label>
                    <input type="teamname" name="teamname">
                    <label for="eventname"> Filter by event: </label>
                    <input type="eventname" name="eventname">
                </div>
                <input type="submit" class="ghost-button" value="Find Results">
            </form>
        </div>
        <% if (rankings != null) { %>
            <h3 align="center"> Best Players This Week </h3>
            <table>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>Rating</th>
                </tr>
                <% for(var i = 0; i < 20; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= rankings[i].name %></td>
                        <td><%= rankings[i].rating %></td>
                    </tr>
                <% } %>
            </table>
        <% } %>
    </fieldset>
</body>
</html>