<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Matches</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <fieldset>
        <h1 align="center"> Matches </h1>
        <div class="container">
            <form action="/" method="get">
                <input type="submit" class="ghost-button" value="Back to Home">
            </form>
            <br>
            <form action="/matches" method="post">
                <div class="fields" align="center">
                    <label for="teamname"> Filter by team: </label>
                    <input type="teamname" name="teamname" value="<%= team %>">
                    <label for="eventname"> Filter by event: </label>
                    <input type="eventname" name="eventname" value="<%= event %>">
                </div>
                <input type="submit" class="ghost-button" value="Filter Matches">
            </form>
        </div>
    <% if(matches !== null){ %>
        <% if(matches.length > 0 && matches[0].live){ %>
            <h3 align="center"> LIVE MATCHES </h3>
            <br>
                <table>
                    <tr>
                        <th>Matchup</th>
                        <th>Format</th>
                        <th>Tournament</th>
                        <th>Maps</th>
                        <th>Analysis/Scorebot</th>
                    </tr>
                    <% for(var i=0; i < matches.length; i++) { %>
                        <% if(matches[i].live){ %>
                            <tr>
                                <td><%= matches[i].team1.name %> vs <%= matches[i].team2.name %></td>
                                <td><%= matches[i].format %></td>
                                <td><%= matches[i].event.name %></td>
                                <td>
                                    <% if(matches[i].maps){ %>
                                        <% for(var k=0; k < matches[i].maps.length; k++) { %>
                                            <span> <%= matches[i].maps[k] %> </span>
                                        <% } %>
                                    <% } else {%>
                                        <span> No Maps Found </span>
                                    <% } %>
                                </td>
                                <td><a href="matches/matchanalysis?id=<%= matches[i].id %>">Analysis</a>
                                    <a href="matches/scorebot?id=<%= matches[i].id %>">Scorebot</a></td>
                            </tr>
                        <% } %>
                    <% } %>
                </table>
        <% } %>
        <h3 align="center"> UPCOMING MATCHES </h3>
        <table>
            <tr>
                <th>Date</th>
                <th>Matchup</th>
                <th>Map/Format</th>
                <th>Tournament</th>
                <th>Analysis</th>
            </tr>
            <% for(var i=0; i < matches.length; i++) { %>
                <% if(matches[i].team1 && matches[i].team2 && matches[i].event && !matches[i].live){ %>
                    <tr>
                        <td><%= matches[i].date %></td>
                        <td><%= matches[i].team1.name %> vs <%= matches[i].team2.name %></td>
                        <% if(matches[i].map) { %>
                            <td><%= matches[i].map %></td>
                        <% } else { %>
                            <td><%= matches[i].format %></td>
                        <% } %>
                        <td><%= matches[i].event.name %></td>
                        <td><a href="matches/matchanalysis?id=<%= matches[i].id %>"> Analysis </a></td>
                    </tr>
                <% } %>
            <% } %>
        </table>
        <% } %>
    <% if(error !== null){ %>
        <p><%= error %></p>
    <% } %>
    </fieldset>
  </body>
</html>