<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Match Analysis</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyDrHFGN50kcJtRFBkw89yedrmTw7fhxXrE",
          authDomain: "hltvstats-20d23.firebaseapp.com",
          databaseURL: "https://hltvstats-20d23.firebaseio.com",
          projectId: "hltvstats-20d23",
          storageBucket: "hltvstats-20d23.appspot.com",
          messagingSenderId: "626499430202"
        };
        firebase.initializeApp(config);
      </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      $.urlParam = function(name){
          var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
          if (results==null) {
            return null;
          }
          return decodeURI(results[1]) || 0;
      }
      $(function() {
        const database = firebase.database();
        database.ref('matchanalysis/' + $.urlParam('id')).once('value', (snapshot) => {
          const data = snapshot.val();
          if (data) {
            $('#status').html(''); // clear the HTML
            Object.keys(data).forEach((name) => {
              if (data[name].name == "") {
                $('#status').append('<h5>' + name.substr(0, name.indexOf('GMT')) + 'by Anonymous' + '</h5>' + '<h6>' + data[name].comment + '</h6>');
              } else {
                $('#status').append('<h5>' + name.substr(0, name.indexOf('GMT')) + 'by ' + data[name].name + '</h5>' + '<h6>' + data[name].comment + '</h6>');
              }
          })
          }
        })
        database.ref('matchanalysis/' + $.urlParam('id')).on('value', (snapshot) => {
          const data = snapshot.val();
          if (data) {
            $('#status').html(''); // clear the HTML
            Object.keys(data).forEach((name) => {
              if (data[name].name == "") {
                $('#status').append('<h5>' + name.substr(0, name.indexOf('GMT')) + 'by Anonymous' +'</h5>' + '<h6>' + data[name].comment + '</h6>');
              } else {
                $('#status').append('<h5>' + name.substr(0, name.indexOf('GMT')) + 'by ' + data[name].name + '</h5>' + '<h6>' + data[name].comment + '</h6>');
              }
          })
          }
        });
        $('#insertButton').click(() => {
          let date = new Date();
          if ( $('#commentInput').val() !== '') {
            database.ref('matchanalysis/' + $.urlParam('id') + '/' + date).set({
            name: $('#nameInput').val(),
            comment: $('#commentInput').val()
          })
          }
        })
      });
    </script>
  </head>
  <body>
    <fieldset>
        <h1 align="center"> Match Analysis </h1>
          <div class="container">
              <form action="/" method="get">
                <input type="submit" class="ghost-button" value="Back to Home">
              </form>
              <br>
              <form action="/matches" method="post">
                <input type="submit" class="ghost-button" value="Back to Matches">
              </form>
          </div>
      <% if(match !== null){ %>
        <h3 align="center"> <%=match.team1.name%> vs <%=match.team2.name%> - <%= match.event.name %> </h3>
        <h4 align="center"> <%= match.date %></h4>
        <h4 align="center"> Maps: 
        <% for(var i=0; i < match.maps.length; i++) { %>
          <% if(match.maps[i].statsId){ %>
            <span> <%=match.maps[i].name%></span>
          <% } else { %>
            <span> <%=match.maps[i].name%></span>
          <% } %>
          <% for(var k=0; k < match.maps[i].result.length; k++) { %>
            <% if(match.maps[i].result[k] == ' '){ %>
              <span> (<%= match.maps[i].result.substring(0, k).trim()%>) </span>
              <% break; %>
            <% } %>
          <% } %>
        <% } %>
        </h4>
        <h4 align="center"> <%= match.additionalInfo %> </h4>
        <% if(match.vetoes){ %>
          <h6 align="center">
          <% for(var i=0; i < match.vetoes.length; i++) { %>
            <% if(match.vetoes[i].team){ %>
              <span> <%=match.vetoes[i].team.name%> </span>
            <% } %>
            <span> <%=match.vetoes[i].type%>: <%=match.vetoes[i].map%></span>
            <br>
          <% } %>
        <% } %>
        <% if(headToHead) { %>
          <h4 align="center"> Head to head (90 days) </h4>
          <table>
            <tr>
              <th>Details</th>
              <th>Date</th>
              <th>Map</th>
              <th>Result</th>
            </tr>
            <% for(var i = 0; i < headToHead.length; i++) { %>
              <tr>
                <td><a href="/results/detailedstats?id=<%=headToHead[i].id%>"> View </a></td>
                <td><%=headToHead[i].date%></td>
                <td><%=headToHead[i].map%></td>
                <td><%=headToHead[i].result.team1%>-<%=headToHead[i].result.team2%></td>
              </tr>
            <% } %>
          </table>
        <% } %>
      <% } else { %>
        <p align="center"> No match found </p>
      <% } %>
      <div class="center">
        <div style="float: left; width: 350px;">
          <% if(team1 != undefined) { %>
            <h4 align="center"> <%= team1.name %>(#<%= team1.rank %>) Players </h4>
            <% if(team1players != undefined) { %>
            <table>
              <tr>
                <th>Name</th>
                <th>Maps</th>
                <th>Rating</th>
              </tr>
              <% for(var i = 0; i < team1players.length; i++) { %>
                <tr>
                  <td><%=team1players[i].name%></td>
                  <td><%=team1players[i].ADR%></td>
                  <td><%=team1players[i].rating%></td>
                </tr>
              <% } %>
            </table>
            <h5 align="center"> Average Rating: <%= averageTeam1 %> </h5>
            <% } %>
            <h4 align="center"> <%= team1.name %> Matches </h4>
            <% if(team1.recentResults != undefined) { %>
              <table>
                <tr>
                  <th>Page</th>
                  <th>Vs</th>
                  <th>Result</th>
                </tr>
                <% for(var i = 0; i < team1.recentResults.length; i++) { %>
                  <tr>
                    <% if(team1.recentResults != undefined) { %>
                      <td><a href="/results?id=<%=team1.recentResults[i].matchID%>"> Yes </a></td>
                    <% }  else { %>
                      <td>No :(</td>
                    <% } %>
                    <td><%=team1.recentResults[i].enemyTeam.name%></td>
                    <td><%=team1.recentResults[i].result%></td>
                  </tr>
                <% } %>
              </table>
            <% } %>
            <h4 align="center"> <%= team1.name %> Maps </h4>
            <% if(team1.mapStatistics != undefined) { %>
              <table>
                <tr>
                  <th>Map</th>
                  <th>Matches</th>
                  <th>Winrate</th>
                  <th>CT / T</th>
                </tr>
                <% for(var key in team1.mapStatistics) { %>
                  <tr>
                    <td><%=key%></td>
                    <td><%=team1.mapStatistics[key].timesPlayed%></td>
                    <td><%=team1.mapStatistics[key].winningPercentage%></td>
                    <td><%=team1.mapStatistics[key].ctWinningPercentage%> / <%=team1.mapStatistics[key].tWinningPercentage%></td>
                  </tr>
                <% } %>
              </table>
            <% } %>
          <% } %>
        </div>
        <div style="float: right; width: 350px;">
          <% if(team2 != undefined) { %>
            <h4 align="center"> <%= team2.name %>(#<%= team2.rank %>) Players </h4>
            <% if(team2players != undefined) { %>
            <table>
              <tr>
                <th>Name</th>
                <th>Maps</th>
                <th>Rating</th>
              </tr>
              <% for(var i = 0; i < team2players.length; i++) { %>
                <tr>
                  <td><%=team2players[i].name%></td>
                  <td><%=team2players[i].ADR%></td>
                  <td><%=team2players[i].rating%></td>
                </tr>
              <% } %>
            </table>
            <h5 align="center"> Average Rating: <%= averageTeam2 %> </h5>
            <% } %>
            <h4 align="center"> <%= team2.name %> Matches </h4>
            <% if(team2.recentResults != undefined) { %>
              <table>
                <tr>
                  <th>Page</th>
                  <th>Vs</th>
                  <th>Result</th>
                </tr>
                <% for(var i = 0; i < team2.recentResults.length; i++) { %>
                  <tr>
                      <% if(team2.recentResults != undefined) { %>
                        <td><a href="/results?id=<%=team2.recentResults[i].matchID%>"> Yes </a></td>
                      <% }  else { %>
                        <td>No :(</td>
                      <% } %>
                    <td><%=team2.recentResults[i].enemyTeam.name%></td>
                    <td><%=team2.recentResults[i].result%></td>
                  </tr>
                <% } %>
              </table>
            <% } %>
            <h4 align="center"> <%= team2.name %> Maps </h4>
            <% if(team2.mapStatistics != undefined) { %>
              <table>
                <tr>
                  <th>Map</th>
                  <th>Matches</th>
                  <th>Winrate</th>
                  <th>CT / T</th>
                </tr>
                <% for(var key in team2.mapStatistics) { %>
                  <tr>
                    <td><%=key%></td>
                    <td><%=team2.mapStatistics[key].timesPlayed%></td>
                    <td><%=team2.mapStatistics[key].winningPercentage%></td>
                    <td><%=team2.mapStatistics[key].ctWinningPercentage%> / <%=team2.mapStatistics[key].tWinningPercentage%></td>
                  </tr>
                <% } %>
              </table>
            <% } %>
          <% } %>
        </div>
      </div>
      <% if(error !== null){ %>
        <p><%= error %></p>
      <% } %>
      <h4 align="center"> Comments Section </h4>
      <div class="container">
          <div id="status" align="center"></div>
          <div class="fields" align="center">
            <label for="name"> Nickname: </label>
            <input type="text" id="nameInput" placeholder="Name (optional)" width="30%">
            <label for="comment"> Your comment: </label>
            <input type="text" id="commentInput" placeholder="Comment" width="30%">
          </div>
          <button class="ghost-button" id="insertButton">Submit Comment</button>
        </div>
    </fieldset>
  </body>
</html>