<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyDrHFGN50kcJtRFBkw89yedrmTw7fhxXrE",
          authDomain: "hltvstats-20d23.firebaseapp.com",
          databaseURL: "https://hltvstats-20d23.firebaseio.com",
          projectId: "hltvstats-20d23",
          storageBucket: "hltvstats-20d23.appspot.com",
          messagingSenderId: "626499430202"
        };
        firebase.initializeApp(config);
      </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      $.urlParam = function(name){
          var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
          if (results==null) {
            return null;
          }
          return decodeURI(results[1]) || 0;
      }
      $(function() {
        const database = firebase.database();
        database.ref('results/' + $.urlParam('id')).once('value', (snapshot) => {
          const data = snapshot.val();
          if (data) {
            $('#status').html(''); // clear the HTML
            Object.keys(data).forEach((name) => {
              if (data[name].name == "") {
                $('#status').append('<h5>' + name.substr(0, name.indexOf('GMT')) + 'by Anonymous' + '</h5>' + '<h6>' + data[name].comment + '</h6>');
              } else {
                $('#status').append('<h5>' + name.substr(0, name.indexOf('GMT')) + 'by ' + data[name].name + '</h5>' + '<h6>' + data[name].comment + '</h6>');
              }
          })
          }
        })
        database.ref('results/' + $.urlParam('id')).on('value', (snapshot) => {
          const data = snapshot.val();
          if (data) {
            $('#status').html(''); // clear the HTML
            Object.keys(data).forEach((name) => {
              if (data[name].name == "") {
                $('#status').append('<h5>' + name.substr(0, name.indexOf('GMT')) + 'by Anonymous' +'</h5>' + '<h6>' + data[name].comment + '</h6>');
              } else {
                $('#status').append('<h5>' + name.substr(0, name.indexOf('GMT')) + 'by ' + data[name].name + '</h5>' + '<h6>' + data[name].comment + '</h6>');
              }
          })
          }
        });
        $('#insertButton').click(() => {
          let date = new Date();
          if ( $('#commentInput').val() !== '') {
            database.ref('results/' + $.urlParam('id') + '/' + date).set({
            name: $('#nameInput').val(),
            comment: $('#commentInput').val()
          })
          }
        })
      });
    </script>
  </head>
  <body>
      <fieldset>
          <h1 align="center"> Results </h1>
          <div class="container">
              <form action="/" method="get">
                  <input type="submit" class="ghost-button" value="Back to Home">
              </form>
              <br>
              <form action="/matches" method="post">
                    <input type="submit" class="ghost-button" value="Back to Matches">
              </form>
              <br>
              <form action="/matchresults" method="post">
                    <input type="submit" class="ghost-button" value="Back to Results">
              </form>
          </div>
        <% if(result !== null){ %>
          <h3 align="center"> <%=result.team1.name%> vs <%=result.team2.name%> - <%= result.event.name %> </h3>
          <h4 align="center"> <%=result.date%> </h4>
          <h4 align="center"> Maps: 
          <% for(var i=0; i < result.maps.length; i++) { %>
            <% if(result.maps[i].statsId){ %>
              <a href="/results/detailedstats?id=<%=result.maps[i].statsId%>"><span> <%=result.maps[i].name%></span></a>
            <% } else { %>
              <span> <%=result.maps[i].name%></span>
            <% } %>
            <% for(var k=0; k < result.maps[i].result.length; k++) { %>
              <% if(result.maps[i].result[k] == ' '){ %>
                <span> (<%= result.maps[i].result.substring(0, k).trim()%>) </span>
                <% break; %>
              <% } %>
            <% } %>
          <% } %>
          </h4>
          <% if(result.vetoes){ %>
            <h6 align="center">
            <% for(var i=0; i < result.vetoes.length; i++) { %>
              <% if(result.vetoes[i].team){ %>
                <span> <%=result.vetoes[i].team.name%> </span>
              <% } %>
              <span> <%=result.vetoes[i].type%>: <%=result.vetoes[i].map%></span>
              <br>
            <% } %>
          </h6>
          <% } %>
        <% } else { %>
          <p align="center"> No result found </p>
        <% } %>
        <% if(error !== null){ %>
          <p align="center"><%= error %></p>
        <% } %>
        <h4 align="center"> Comments Section </h4>
        <div class="container">
          <div id="status" align="center"></div>
          <div class="fields" align="center">
            <label for="name"> Nickname: </label>
            <input type="text" id="nameInput" placeholder="Name (optional)" width="30%">
            <label for="comment"> Your comment: </label>
            <input type="text" id="commentInput" placeholder="Comment" width="30%">
          </div>
          <button class="ghost-button" id="insertButton">Submit Comment</button>
        </div>
      </fieldset>
  </body>
</html>