<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Match Results</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <fieldset>
        <h1 align="center"> Match Results </h1>
        <div class="container">
            <form action="/" method="get">
                <input type="submit" class="ghost-button" value="Back to Home">
            </form>
        </div>
    <h3> MATCH RESULTS </h3>
    <% if(results !== null){ %>
        <ul>
            <% for(var i=0; i < results.length; i++) { %>
                <% if(results[i].team1 && results[i].team2 && results[i].event && !results[i].live){ %>
                    <li>
                    <p><%= results[i].team1.name %> (<%= results[i].result.team1 %>) vs <%= results[i].team2.name %> (<%= results[i].result.team2 %>) on <%= results[i].map %> @ <%= results[i].event.name %> </p>
                    <p> <a href="results/detailedstats?id=<%= results[i].id %>"> Detailed Stats </a></p>
                    </li>  
                <% } else {%>
                <% } %>
            <% } %>
        </ul>
    <% } %>
    <% if(error !== null){ %>
        <p><%= error %></p>
    <% } %>
    </fieldset> 
  </body>
</html>