<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scorebot</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <fieldset>
          <h1 align="center"> Scorebot </h1>
          <div class="container">
              <form action="/" method="get">
                  <input type="submit" class="ghost-button" value="Back to Home">
              </form>
              <br>
              <form action="/matches" method="post">
                    <input type="submit" class="ghost-button" value="Back to Matches">
              </form>
              <% if(match !== null){ %>
                <br>
                <button value="Refresh Page" class="ghost-button" onClick="window.location.reload()"> Refresh </button>
              <% } %>
          </div>
      
        <% if(match !== null){ %>
          <h3 align="center"> <%=match.team1.name%> vs <%=match.team2.name%> - <%= match.event.name %> </h3>
          <h4 align="center"> Maps:
          <% for(var i=0; i < match.maps.length - 1; i++) { %>
            <% if(match.maps[i].statsId){ %>
              <a href="../results/detailedstats?id=<%=match.maps[i].statsId%>"><span> <%=match.maps[i].name%></span></a>
            <% } else { %>
              <span> <%=match.maps[i].name%></span>
            <% } %>
            <% for(var k=0; k < match.maps[i].result.length; k++) { %>
              <% if(match.maps[i].result[k] == ' '){ %>
                <span> (<%= match.maps[i].result.substring(0, k).trim()%>) </span>
                <% break; %>
              <% } %>
            <% } %>
          <% } %>
          </h4>
        <% } else { %>
          <p align="center"> No match found </p>
        <% } %>
        <% if(update !== null){ %>
          <h4 align="center"> <%= update.Title %> </h4> 
          <br>
          <% if(log !== null){ %>
            <% for(var i = log.length - 1; i >= 0; i--) { %>
                <h5 align="center"><%= log[i] %></h5>
            <% } %>
          <% } else {%>
            <p align="center" id="log1"> No log yet </p>
          <% } %>
          <br>
          <% if(update.RoundHist.length > 0){ %>
            <h5 align="center">
            <% for(var i = 0; i < update.RoundHist.length && i < 15; i++) { %>
              <% if(update.RoundHist[i] == "Terrorists_Win"){ %>
                  <span> <img class="roundIcon" src="../images/TerroristKill.png"></img> </span>
              <% }  else if (update.RoundHist[i] == "CTs_Win"){ %>
                  <span> <img class="roundIcon" src="../images/CTerroristKill.png"></img> </span>
              <% }  else if (update.RoundHist[i] == "Target_Bombed") { %>
                  <span> <img class="roundIcon" src="../images/TerroristBomb.png"></img> </span>
              <% }  else if (update.RoundHist[i] == "Bomb_Defused") { %>
                  <span> <img class="roundIcon" src="../images/CTerroristBomb.png"></img> </span>
              <% }  else { %>
                  <span> <img class="roundIcon" src="../images/Timeout.png"></img> </span>
              <% } %>
            <% } %>
            </h5>
          <% } %>
          <% if(update.RoundHist.length > 15){ %>
            <h5 align="center">
            <% for(var i = 15; i < update.RoundHist.length; i++) { %>
              <% if(update.RoundHist[i] == "Terrorists_Win"){ %>
                  <span> <img class="roundIcon" src="../images/TerroristKill.png"></img> </span>
              <% }  else if (update.RoundHist[i] == "CTs_Win"){ %>
                  <span> <img class="roundIcon" src="../images/CTerroristKill.png"></img> </span>
              <% }  else if (update.RoundHist[i] == "Target_Bombed") { %>
                  <span> <img class="roundIcon" src="../images/TerroristBomb.png"></img> </span>
              <% }  else if (update.RoundHist[i] == "Bomb_Defused") { %>
                  <span> <img class="roundIcon" src="../images/CTerroristBomb.png"></img> </span>
              <% }  else { %>
                  <span> <img class="roundIcon" src="../images/Timeout.png"></img> </span>
              <% } %>
            <% } %>
            </h5>
          <% } %>
          <br>
          <h4 align="center"> <%= update.CTName %> Player Stats </h4>
            <table>
                    <tr>
                        <th>Alive</th>
                        <th>Player</th>
                        <th>Money</th>
                        <th>Kills</th> 
                        <th>Deaths</th>
                        <th>ADR</th>
                    </tr>
                    <% for(var i = 0; i < update.CTs.length; i++) { %>
                        <tr>
                            <% if(update.CTs[i].alive){ %>
                              <td align="center"><img class="aliveIcon" src="../images/Alive.png"></img></td>
                            <% }  else { %>
                              <td align="center"><img class="aliveIcon" src="../images/Dead.png"></img></td>
                            <% } %>
                            <td align="center"><%= update.CTs[i].nick %></td>
                            <td align="center"><%= update.CTs[i].money %></td>
                            <td align="center"><%= update.CTs[i].score %></td>
                            <td align="center"><%= update.CTs[i].deaths %></td>
                            <td align="center"><%= update.CTs[i].damagePrRound.toFixed(2) %></td>
                        </tr>
                    <% } %>
            </table>
            <br>
            <h4 align="center"> <%= update.TName %> Player Stats </h4>
            <table>
                    <tr>
                      <th>Alive</th>
                      <th>Player</th>
                      <th>Money</th>
                      <th>Kills</th> 
                      <th>Deaths</th>
                      <th>ADR</th>
                    </tr>
                    <% for(var i = 0; i < update.Ts.length; i++) { %>
                      <tr>
                        <% if(update.Ts[i].alive){ %>
                          <td align="center"><img class="aliveIcon" src="../images/Alive.png"></img></td>
                        <% }  else { %>
                          <td align="center"><img class="aliveIcon" src="../images/Dead.png"></img></td>
                        <% } %>
                        <td align="center"><%= update.Ts[i].nick %></td>
                        <td align="center"><%= update.Ts[i].money %></td>
                        <td align="center"><%= update.Ts[i].score %></td>
                        <td align="center"><%= update.Ts[i].deaths %></td>
                        <td align="center"><%= update.Ts[i].damagePrRound.toFixed(2) %></td>
                      </tr>
                    <% } %>
            </table>
        <% } else {%>
          <p align="center"> No updates yet </p>
        <% } %>
        <% if(error !== null){ %>
          <p align="center"><%= error %></p>
        <% } %>
      </fieldset>
  </body>
</html>