<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scorebot</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyDrHFGN50kcJtRFBkw89yedrmTw7fhxXrE",
          authDomain: "hltvstats-20d23.firebaseapp.com",
          databaseURL: "https://hltvstats-20d23.firebaseio.com",
          projectId: "hltvstats-20d23",
          storageBucket: "hltvstats-20d23.appspot.com",
          messagingSenderId: "626499430202"
        };
        firebase.initializeApp(config);
      </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      $.urlParam = function(name){
          var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
          if (results==null) {
            return null;
          }
          return decodeURI(results[1]) || 0;
      }
      $(function() {
        const database = firebase.database();
        database.ref('scorebot/' + $.urlParam('id')).once('value', (snapshot) => {
          const data = snapshot.val();
          if (data) {
            $('#status').html(''); // clear the HTML
            Object.keys(data).forEach((name) => {
              if (data[name].name == "") {
                $('#status').append('<h5>' + name.substr(0, name.indexOf('GMT')) + 'by Anonymous' + '</h5>' + '<h6>' + data[name].comment + '</h6>');
              } else {
                $('#status').append('<h5>' + name.substr(0, name.indexOf('GMT')) + 'by ' + data[name].name + '</h5>' + '<h6>' + data[name].comment + '</h6>');
              }
          })
          }
        })
        database.ref('scorebot/' + $.urlParam('id')).on('value', (snapshot) => {
          const data = snapshot.val();
          if (data) {
            $('#status').html(''); // clear the HTML
            Object.keys(data).forEach((name) => {
              if (data[name].name == "") {
                $('#status').append('<h5>' + name.substr(0, name.indexOf('GMT')) + 'by Anonymous' +'</h5>' + '<h6>' + data[name].comment + '</h6>');
              } else {
                $('#status').append('<h5>' + name.substr(0, name.indexOf('GMT')) + 'by ' + data[name].name + '</h5>' + '<h6>' + data[name].comment + '</h6>');
              }
          })
          }
        });
        $('#insertButton').click(() => {
          let date = new Date();
          if ( $('#commentInput').val() !== '') {
            database.ref('scorebot/' + $.urlParam('id') + '/' + date).set({
            name: $('#nameInput').val(),
            comment: $('#commentInput').val()
          })
          }
        })
      });
    </script>
  </head>
  <body>
      <fieldset>
          <h1 align="center"> Scorebot </h1>
          <div class="container">
              <form action="/" method="get">
                  <input type="submit" class="ghost-button" value="Back to Home">
              </form>
              <br>
              <form action="/matches" method="post">
                    <input type="submit" class="ghost-button" value="Back to Matches">
              </form>
              <% if(match !== null){ %>
                <br>
                <button value="Refresh Page" class="ghost-button" onClick="window.location.reload()"> Refresh </button>
              <% } %>
          </div>
      
        <% if(match !== null){ %>
          <h3 align="center"> <%=match.team1.name%> vs <%=match.team2.name%> - <%= match.event.name %> </h3>
          <h4 align="center"> <%=match.date%> </h4>
          <h4 align="center"> Maps: 
          <% for(var i=0; i < match.maps.length; i++) { %>
            <% if(match.maps[i].statsId){ %>
              <a href="../results/detailedstats?id=<%=match.maps[i].statsId%>"><span> <%=match.maps[i].name%></span></a>
            <% } else { %>
              <span> <%=match.maps[i].name%></span>
            <% } %>
            <% for(var k=0; k < match.maps[i].result.length; k++) { %>
              <% if(match.maps[i].result[k] == ' '){ %>
                <span> (<%= match.maps[i].result.substring(0, k).trim()%>) </span>
                <% break; %>
              <% } %>
            <% } %>
          <% } %>
          </h4>
          <% if(match.vetoes){ %>
            <h6 align="center">
            <% for(var i=0; i < match.vetoes.length; i++) { %>
              <% if(match.vetoes[i].team){ %>
                <span> <%=match.vetoes[i].team.name%> </span>
              <% } %>
              <span> <%=match.vetoes[i].type%>: <%=match.vetoes[i].map%></span>
              <br>
            <% } %>
          </h6>
          <% } %>
        <% } else { %>
          <p align="center"> No match found </p>
        <% } %>
        <% if(update !== null){ %>
          <h4 align="center"> <%= update.Title %> </h4> 
          <br>
          <% if(log !== null){ %>
            <% for(var i = log.length - 1; i >= 0; i--) { %>
                <h5 align="center"><%= log[i] %></h5>
            <% } %>
          <% } else {%>
            <p align="center" id="log1"> No log yet </p>
          <% } %>
          <br>
          <% if(update.RoundHist.length > 0){ %>
            <h5 align="center">
            <% for(var i = 0; i < update.RoundHist.length && i < 15; i++) { %>
              <% if(update.RoundHist[i] == "Terrorists_Win"){ %>
                  <span> <img class="roundIcon" src="../images/TerroristKill.png"></img> </span>
              <% }  else if (update.RoundHist[i] == "CTs_Win"){ %>
                  <span> <img class="roundIcon" src="../images/CTerroristKill.png"></img> </span>
              <% }  else if (update.RoundHist[i] == "Target_Bombed") { %>
                  <span> <img class="roundIcon" src="../images/TerroristBomb.png"></img> </span>
              <% }  else if (update.RoundHist[i] == "Bomb_Defused") { %>
                  <span> <img class="roundIcon" src="../images/CTerroristBomb.png"></img> </span>
              <% }  else { %>
                  <span> <img class="roundIcon" src="../images/Timeout.png"></img> </span>
              <% } %>
            <% } %>
            </h5>
          <% } %>
          <% if(update.RoundHist.length > 15){ %>
            <h5 align="center">
            <% for(var i = 15; i < update.RoundHist.length; i++) { %>
              <% if(update.RoundHist[i] == "Terrorists_Win"){ %>
                  <span> <img class="roundIcon" src="../images/TerroristKill.png"></img> </span>
              <% }  else if (update.RoundHist[i] == "CTs_Win"){ %>
                  <span> <img class="roundIcon" src="../images/CTerroristKill.png"></img> </span>
              <% }  else if (update.RoundHist[i] == "Target_Bombed") { %>
                  <span> <img class="roundIcon" src="../images/TerroristBomb.png"></img> </span>
              <% }  else if (update.RoundHist[i] == "Bomb_Defused") { %>
                  <span> <img class="roundIcon" src="../images/CTerroristBomb.png"></img> </span>
              <% }  else { %>
                  <span> <img class="roundIcon" src="../images/Timeout.png"></img> </span>
              <% } %>
            <% } %>
            </h5>
          <% } %>
          <br>
          <h4 align="center"> <%= update.CTName %> Player Stats </h4>
            <table class="playerScores">
                    <tr>
                        <th>Alive</th>
                        <th>Player</th>
                        <th>Money</th>
                        <th>Kills</th> 
                        <th>Deaths</th>
                        <th>ADR</th>
                    </tr>
                    <% for(var i = 0; i < update.CTs.length; i++) { %>
                        <tr>
                            <% if(update.CTs[i].alive){ %>
                              <td align="center"><img class="aliveIcon" src="../images/Alive.png"></img></td>
                            <% }  else { %>
                              <td align="center"><img class="aliveIcon" src="../images/Dead.png"></img></td>
                            <% } %>
                            <td align="center"><%= update.CTs[i].nick %></td>
                            <td align="center"><%= update.CTs[i].money %></td>
                            <td align="center"><%= update.CTs[i].score %></td>
                            <td align="center"><%= update.CTs[i].deaths %></td>
                            <td align="center"><%= update.CTs[i].damagePrRound.toFixed(2) %></td>
                        </tr>
                    <% } %>
            </table>
            <br>
            <h4 align="center"> <%= update.TName %> Player Stats </h4>
            <table class="playerScores">
                    <tr>
                      <th>Alive</th>
                      <th>Player</th>
                      <th>Money</th>
                      <th>Kills</th> 
                      <th>Deaths</th>
                      <th>ADR</th>
                    </tr>
                    <% for(var i = 0; i < update.Ts.length; i++) { %>
                      <tr>
                        <% if(update.Ts[i].alive){ %>
                          <td align="center"><img class="aliveIcon" src="../images/Alive.png"></img></td>
                        <% }  else { %>
                          <td align="center"><img class="aliveIcon" src="../images/Dead.png"></img></td>
                        <% } %>
                        <td align="center"><%= update.Ts[i].nick %></td>
                        <td align="center"><%= update.Ts[i].money %></td>
                        <td align="center"><%= update.Ts[i].score %></td>
                        <td align="center"><%= update.Ts[i].deaths %></td>
                        <td align="center"><%= update.Ts[i].damagePrRound.toFixed(2) %></td>
                      </tr>
                    <% } %>
            </table>
        <% } else {%>
          <p align="center"> No updates yet </p>
        <% } %>
        <% if(error !== null){ %>
          <p align="center"><%= error %></p>
        <% } %>
        <h4 align="center"> Comments Section </h4>
        <div class="container">
            <div id="status" align="center"></div>
            <div class="fields" align="center">
              <label for="name"> Nickname: </label>
              <input type="text" id="nameInput" placeholder="Name (optional)" width="30%">
              <label for="comment"> Your comment: </label>
              <input type="text" id="commentInput" placeholder="Comment" width="30%">
            </div>
            <button class="ghost-button" id="insertButton">Submit Comment</button>
          </div>
      </fieldset>
  </body>
</html>