<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scorebot</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <fieldset>
          <h1 align="center"> Scorebot </h1>
          <div class="container">
              <form action="/" method="get">
                  <input type="submit" class="ghost-button" value="Back to Home">
              </form>
              <br>
              <form action="/matches" method="post">
                    <input type="submit" class="ghost-button" value="Back to Matches">
              </form>
          </div>
      
        <% if(match !== null){ %>
          <h3 align="center"> <%=match.team1.name%> vs <%=match.team2.name%> </h3>
          <h4 align="center"> <%= match.event %> </h4> 
          <h4 align="center"> Maps:
          <% for(var i=0; i < match.maps.length; i++) { %>
            <% if(match.maps[i].statsId){ %>
              <a href="../results/detailedstats?id=<%=match.maps[i].statsId%>"><span> <%=match.maps[i].name%></span></a>
            <% } else { %>
              <span> <%=match.maps[i].name%></span>
            <% } %>
            <% for(var k=0; k < match.maps[i].result.length; k++) { %>
              <% if(match.maps[i].result[k] == ' '){ %>
                <span> (<%= match.maps[i].result.substring(0, k).trim()%>) </span>
                <% break; %>
              <% } %>
            <% } %>
          <% } %>
          </h4>
          <% if(match.additionalInfo.trim() != ""){ %>
            <h5 align="center"> <%=match.additionalInfo%> </h5>
          <% } %>
        <% } else { %>
          <p> No match found </p>
        <% } %>
        <% if(update !== null){ %>
          <h4 align="center"> Scoreboard </h4> 
          <p> <%= JSON.stringify(update) %> </p>
        <% } else {%>
          <p> No updates yet </p>
        <% } %>
        <% if(log !== null){ %>
          <h4 align="center"> Log </h4>    
          <p> <%= JSON.stringify(log) %> </p>
        <% } else {%>
          <p> No log yet </p>
        <% } %>
        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
  </body>
</html>